/* Blur spoiler */
.contents_d3ae0d .spoilerText-27bIiA.hidden-3B-Rum, .contents_d3ae0d .spoilerText-27bIiA.hidden-3B-Rum:hover, .contents_d3ae0d .spoilerText-27bIiA{background:rgb(130,130,130,0.1); border-radius: 7px;}
.contents_d3ae0d .spoilerText-27bIiA.hidden-3B-Rum>.inlineContent-2YnoDy{filter: blur(3px); opacity: 1;}
.contents_d3ae0d .spoilerText-27bIiA.hidden-3B-Rum:hover>.inlineContent-2YnoDy{filter:none; opacity: 1;}