/* Server Banner blurs into channel list */
.animatedContainer_fd6364{
	box-shadow: none !important;
	}
.animatedContainer_fd6364:after{
	background: linear-gradient(00deg, var(--background-secondary) 30%, transparent 100%); 
	position:absolute; 
	content: ''; 
	height:30px; 
	width:100%; 
	bottom: 0;
	}
