/* Rectangular Message box/ Chat Box */
/*.channelTextArea_c2094b { margin-bottom: 0; }
/*.form_d8a4a1 { padding: 0; }
/*.inner__9fd0b { padding-top: 4px; }
/*.base__06abc { /* typing and slowmode stuff */top: -24px; /* height is 24px */ background-color: var(--background-primary);}
/*.scrollableContainer_ff917f {border-radius: 0px; min-height: 53px;}
/*.scrollableContainer_ff917f{background-color: transparent !important;}
*/


/* Match channel text area to user container */
.form_d8a4a1 {padding: 0;}
.channelTextArea_c2094b {margin: 0;}
.scrollableContainer_ff917f {border-radius: 0;}
.inner__9fd0b {
  min-height: 48px;
  padding-top: 4px;
  background: var(--background-primary);
}
/* Move typing indicators */
.typing__6fd1d {
  top: -24px;
  left: 0px;
  width: fit-content;
  padding-right: 9px;
  border-radius: 0 8px 0 0;
  background: var(--background-floating);
}
/* Remove single pixel padding from user container */
.container_debb33 {
  margin: 0;
}
/* End Match channel text area to user container */

.themedBackground__3a4c0 {
	background: var(--background-primary);
}
