/* Rectangular Message box/ Chat Box */
.channelTextArea-1FufC0 { margin-bottom: 0; }
.form-3gdLxP { padding: 0; }
.inner-NQg18Y { padding-top: 4px; }
.base-3bcbY3 { /* typing and slowmode stuff */top: -24px; /* height is 24px */ background-color: var(--background-primary);}
.scrollableContainer-15eg7h {border-radius: 0px; min-height: 53px;}
.scrollableContainer-15eg7h{background-color: transparent !important;}