/* FIXES (Probably) */
.scroller_de945b {contain: unset;}
.wrapper-28eC3z svg {overflow: hidden;}
.guildSection__15ac6 > .flex_f18b02 > svg {flex-shrink: 0;}
.badgeList-2aoHPw {padding-right: 0; padding-left: 80px;}
  /*- font fix -*/
body {--font-display: var(--font-primary);}
  /*- bdcompat fixes -*/ 
.detailsWrapper-TE1mu5 {position: relative; bottom: -30px; left: 1px;}
/*- Images going over top new message bar fix -*/
#app-mount [id^="message-accessories"] { z-index: 0; }
/* Server list bg to bg-scnd */
.scroller_de945b {background-color: var(--background-secondary);}
/* Don't truncate About Me to six lines */
.clamped-2ZePhX {-webkit-line-clamp: unset;}

/* Fix PC stuff order in settings */
.side-2ur1Qk> div[data-item-id="pc-updater"],
.side-2ur1Qk> div[data-item-id="pc-updater"] ~ div { order: 6 }

.side-2ur1Qk> div[data-item-id="pc-moduleManager-plugins"] { order: 1 !important; }
.side-2ur1Qk> div[data-item-id="pc-moduleManager-themes"] { order: 2 !important; }
.side-2ur1Qk> div[data-item-id="theme-toggler"] { order: 5 !important; }
.side-2ur1Qk> div[data-item-id="css-toggler"] { order: 4 !important; }
.side-2ur1Qk> div[data-item-id="bdCompat"] { order: 3 !important; }
.item-3XjbnG[data-item-id="pc-updater"] {
    align-items: unset !important;
    overflow: visible;
}
