/* HIDE STUFF */
.powercord-spotify .flex_bba380 {display: none;}
.buttons_d0696b {opacity: 0; transition: opacity 0.1s;}
.channelTextArea_a7d72e:hover .buttons_d0696b {opacity: 1.0;}
.container-16j22k {display: none;}
.container_b2ca13{background-color: var(--background-secondary);}
.isUnread_fc5f50 {border-color:transparent !important;}
.anchor-1MIwyf[href="https://support.discord.com"] { display: none; }
.threadSuggestionBar_b11c5e { display: none; }
  /*- User-popout -*/
.note-1MiCN7 textarea, .note-Go5ZP2 textarea, .note-3M15gE, .userInfoSectionHeader-2mYYun:last-of-type {display: none;}
.bodyInnerWrapper-2bQs1k>h3:nth-of-type(2) {display: none;}
.divider-1wtgZ3 {display: none;}
.footer-k0JFJ6 {display: none;}
  /*- Settings -*/
.socialLinks_c44e94 {display: none;}
.developerPortalCtaWrapper-2XNafh {display: none;}

[class*=channelAppLauncher_] {
  display: none;
}