/* HIDE STUFF */
.powercord-spotify .flex_f18b02 {display: none;}
.buttons__7ecff {opacity: 0; transition: opacity 0.1s;}
.channelTextArea_c2094b:hover .buttons__7ecff {opacity: 1.0;}
.container-16j22k {display: none;}
.container_debb33{background-color: var(--background-secondary);}
.isUnread_de09f5 {border-color:transparent !important;}
.anchor-1MIwyf[href="https://support.discord.com"] { display: none; }
.threadSuggestionBar__717a3 { display: none; }
  /*- User-popout -*/
.note-1MiCN7 textarea, .note-Go5ZP2 textarea, .note-3M15gE, .userInfoSectionHeader-2mYYun:last-of-type {display: none;}
.bodyInnerWrapper-2bQs1k>h3:nth-of-type(2) {display: none;}
.divider-1wtgZ3 {display: none;}
.footer-k0JFJ6 {display: none;}
  /*- Settings -*/
.socialLinks_dbdd6f {display: none;}
.developerPortalCtaWrapper-2XNafh {display: none;}
