/* Modern Mentions */
.wrapper-1ZcZW- {color: white; background-color: #2b2b2b; padding-left: 6px; padding-right: 6px; transition: 0.5s;}
.wrapper-1ZcZW-:hover {background-color: #2b2b2b; transition: 0.5s;}