/* Modern / Cozier Replies */
.compact_ec86aa {--reply-message-margin: 10px;}
.repliedMessage_ec86aa {background-color: var(--background-secondary); border-radius: 5px; padding: 5px 10px; transition: 300ms background-color; width: min-content; max-width: 800px;}
.repliedMessage_ec86aa:hover {background-color: var(--background-modifier-hover);}
.repliedMessage_ec86aa:active {background-color: var(--background-modifier-active);}
.repliedMessage_ec86aa::before {margin-right: var(--reply-message-margin);}