/* Hide left sidebar */
div[class^=base] > div[class^=content] > div[class^=sidebar] {
    transition: width 0.2s ease 0.1s, opacity 0.2s ease 0.1s;
    opacity: 0;
    width: 10px!important;
}
/* Show left sidebar when hovered */
div[class^=base] > div[class^=content] > div[class^=sidebar]:hover {
    width: 240px!important;
	opacity: 1;
}


/*Hover Servers */
[class*=" guilds"] {
    width: 10px;
    transition: width 0.2s ease 0.1s, opacity 0.2s ease 0.1s;
    opacity: 0;
}

[class*=" guilds"]:hover {
    width: 65px;
    opacity: 1;
}