/* Hide VC Controls till hover */
.container_adcaac>.actionButtons_adcaac{display:none;}
.container_adcaac:hover>.actionButtons_adcaac{display:flex; animation: slide-up 0.4s ease;}
/* Red slash to muted people in VC */
.voiceUser_cdc675>.content_cdc675>.icons_cdc675 svg>path:last-child{fill: #f04747;}
/* Even-spaced VC Display */
.voiceUsers-25eR9q {width: 100%; display: flex; justify-content: space-evenly; grid-template-columns: none;}