/* psychopomp#0001 */
.sidebarRegion-1VBisG {
  flex: none;
}

.contentColumn-1C7as6,
.customColumn-2n-oKU,
.customScroller-m1-jZn > div,
.contentWidth-3aWel5,
.content-2ssVKB.layoutStyle-3d1mjU,
.tier1-314rFD.banner-oA34U0 {
  max-width: 100%;
}

.baseLayout-8AMrwn > :first-child {
  width: 100%;
}
