/* THEME */

.theme-dark {
  --background-primary: #000000;
  --background-secondary: #000000;
  --background-secondary-alt: #000000;
  --background-tertiary: #000000;
  --background-floating: #131313;
  --scrollbar-auto-track: #141414;
}

 .theme-dark .container_bd15da {background-color: var(--background-secondary);}
 .theme-dark .peopleColumn__0c784 {background-color: var(--background-primary);}
 .theme-dark .peopleList_d2f527 {background-color: var(--background-primary);}
 .theme-dark .embedWrapper__47b23.embedFull__14919.embed_cc6dae.markup_a7e664 {background-color: #0a0a0a;}
 .theme-dark .autocomplete__743a5 {background-color: var(--background-floating);}
 .theme-dark .selected-3H3-RC {background-color: #0f0f0f;}
 .theme-dark .container_f93da8 {background-color: var(--background-floating);}
 .theme-dark .header__6d44a {background-color: var(--background-floating);}
 .theme-dark .header__21b33 {background-color: var(--background-floating);}
 .theme-dark .messagesPopoutWrap__10dd1 {background-color: var(--background-floating);}
 .theme-dark .root_a28985 {background-color: var(--background-floating);}
 .theme-dark .message_ff43e6 {background-color: var(--background-floating);}
 .theme-dark .footer-31IekZ {background-color: var(--background-floating);}
 .modeSelected__473f1 .wrapper__612a5, .modeSelected__473f1:hover .wrapper__612a5 {background-color: var(--background-floating);}
 .scrollableContainer_ff917f{background-color: transparent !important;}


/* Fix Search Theming */
.theme-dark {
.container__84c26 {background-color: var(--background-floating);}
.option__91497:after {background: var(--background-floating);}
.option-2KkUJO .searchOption-351dTI {background-color: var(--background-tertiary);}
.option-2KkUJO.selected-rZcOL- {background-color: var(--background-tertiary);}
.option-2KkUJO.selected-rZcOL-:after {width: 0px;}
.option-2KkUJO::after {background: none;}
.searchLearnMore__17e18 {display: none;}
.focused__68b93 {background-color: var(--background-floating);}
.wrapper_f5f4c9 {background: #0e0e0e;}
}

/* Dark Bot Tags */
.botTagRegular_c89c9a {transition: .5s; background: rgba(30,0,27,0.1); color: #ffffff;}
.botTagRegular_c89c9a:hover {transition: .5s; background: #444444; color: #ffffff;}

/* Forum pages theme fix */
.theme-dark .themed_b152d4 {background: var(--background-primary);}
.grid-21dB-S>div:first-child, .headerRow-1MKoR-, .list-3FIpnh>div:first-child {background: var(--background-primary);}
.container__7d004 {background: var(--background-floating);}
.container__26baa {background: var(--background-primary);}
